<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base/css/reset.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese">
    <link rel="stylesheet" href="{% static 'base/css/main.css' %}">
    {% block additional_head_tags %}

    {% endblock %}
</head>
<body>
    <!-- start of header -->
    <header>
        <nav class="content">
            <ul class="main-links">
                <li class='logo'>
                    <a href="{% url 'index' %}"><img src="{% static 'base/logo.svg' %}" alt="Logo" width="81" height="72"></a>
                </li>
                <li>
                    <a href="{% url 'discover_movie' %}">DISCOVER</a>
                    <ul class="hide">
                        <li><a href="{% url 'discover_movie' %}">Movies</a></li>
                        <li><a href="{% url 'discover_show' %}">TV Shows</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">MOVIES</a>
                    <ul class="hide">
                        <li><a href="">Popular</a></li>
                        <li><a href="">Top Rated</a></li>
                        <li><a href="">Upcoming</a></li>
                        <li><a href="">Now Playing</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">TV SHOWS</a>
                    <ul class="hide">
                        <li><a href="">Popular</a></li>
                        <li><a href="">Top Rated</a></li>
                        <li><a href="">On TV</a></li>
                        <li><a href="">Airing Today</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">PEOPLE</a>
                    <ul class="hide">
                        <li><a href="">Popular People</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="main-links">
                <li>
                    <i></i>
                    <p class="hide">Can't find a movie or TV show? Login to create it.</p>
                </li>
                <li><a href="log_in.html">LOGIN</a></li>
                <li><a href="sing_up.html">SING UP</a></li>
            </ul>
        </nav>
        <form method="post" class="search">
            <input type="text" name="search_value" value="Search for a movie, tv show, person...">
        </form>
    </header>
    <!-- end of header -->
    {% block main %}

    {% endblock %}

    <!-- start of footer -->
    <footer>
        <nav>
            <div class="join">
                <img src="{% static 'base/logo.svg' %}" alt="Logo" width="130" height="116">
                <a href="">Join the Community</a>
            </div>
            <div>
                <h3>The Basics</h3>
                <ul>
                    <li><a href="">About TMDb</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">Support Forums</a></li>
                    <li><a href="">API</a></li>
                    <li><a href="">Blog</a></li>
                </ul>
            </div>
            <div>
                <h3>Get Involved</h3>
                <ul>
                    <li><a href="">Contribution Bible</a></li>
                    <li><a href="">3rd Party Applications</a></li>
                    <li><a href="">Add New Movie</a></li>
                    <li><a href="">Add New TV Show</a></li>
                </ul>
            </div>
            <div>
                <h3>Community</h3>
                <ul>
                    <li><a href="">Guidelines</a></li>
                    <li><a href="">Leaderboard</a></li>
                    <li><a href="">Forums</a></li>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Facebook</a></li>
                </ul>
            </div>
            <div class="">
                <h3>Legal</h3>
                <ul>
                    <li><a href="">Terms of Use</a></li>
                    <li><a href="">Privacy Policy</a></li>
                </ul>
            </div>
        </nav>
    </footer>
    <!-- end of footer -->
</body>
</html>
