.short-info {
  width: 100%;
  color: $white;
}

.custom-bg {
  padding: 40px 0;
  background-image: radial-gradient(circle at 20% 50%, rgba(19.61%, 7.84%, 7.84%, 0.98) 0%, rgba(27.45%, 13.73%, 13.73%, 0.88) 100%);

}

.single {
  width: 1000px;
  margin: 0 auto;
  display: flex;
}

.poster {
  img {
    width: 300px;
  }
}

.description {
  display: flex;
  flex-direction: column;
  padding-left: 40px;

  > div {
    margin-bottom: 30px;
  }

  h2 {
    font-size: 2.4em;
    font-weight: 700;
    line-height: 1.1em;

    a {
      text-decoration: none;
    }

  }

  .release-year {
    font-size: 27.2px;
    font-weight: 400;
    opacity: 0.6;
  }

}

.actions {
  display: flex;

  li {
    margin-right: 20px;
  }

}

.users-rate-block {
  display: flex;
  justify-content: center;
  align-items: center;


  span {
    font-weight: 700;
  }

}

.user-rate {
    background-color: #081c22;
    color: #ffffff;
    border-radius: 10%;
    padding: 4px;
    font-weight: 600;
    font-size: 2.4em;
    margin-right: 10px;
}

.action-icon {
  width: 46px;
  height: 46px;
  border: 2px solid $white;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 22px;
    height: auto;
    text-align: center;
  }

  &:hover {
    background-color: $white;

    i {
      color: $black;
    }

  }
}

.tooltip {
  position: relative;

  .tooltip-text {
    display: none;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: -30%;

    white-space: nowrap;
    background-color: $white;
    width: auto;
    color: $black;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
  }

  .tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
  }

  &:hover .tooltip-text {
    display: block;
  }

}

.play-trailer {
  display: flex;
  align-items: center;
}

.overview {
  h3 {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 8px;
  }

  p {
    line-height: 1.4em;
  }
}

.featured-crew {
  margin-top: 30px;

  h3 {
    line-height: 1.3em;
    font-weight: 600;
    font-size: 1.3em;
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      width: 30%;
      margin-top: 20px;

      a {
        text-decoration: none;
        font-weight: bold;
      }

      p {
        margin-top: 3px;
        font-size: 0.9em;
      }
    }
  }
}

.user-rate-form {
  position: absolute;
  display: none;
  top: 125%;
  left: -30%;
  z-index: 999;
}

.rated {
  color: #faef3a;
}