{% extends 'base.html' %}
{% block title %}
    {% if is_movies_page %}
        Discover New Movies
    {% else %}
        Discover New TV Shows
    {% endif %}
{% endblock %}
{% load image_urls %}
{% block main %}
    <main>
        <section class="main_content">
            <h2>Discover New Movies & TV Shows <a href="">Movies</a> <a href="">TV Shows</a></h2>
            <form method="post">
                <label for="release_year">Year</label>
                <select id="release_year">
                    <option disabled>None</option>
                    {% for year in years %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>

                <label for="sort_by">Sort By</label>
                <select id="sort_by">
                    <option value="popularity_des">Popularity Descending</option>
                    <option value="popularity_asc">Popularity Ascending</option>
                </select>
                <label for="with_genres">Genres</label>
                <select id="with_genres" multiple>
                    {% for genre in genres %}
                         <option value="{{ genre.pk }}">{{ genre.name }}</option>
                    {% endfor %}
                </select>
            </form>

            <section class="result">
            {% for result in results %}
                <div class="item">
                    <div class="image_content">
                        <a href="{{ result.get_absolute_url }}"><img src="{{ result|poster:'w185_and_h278_bestv2' }}" alt="Poster"></a>
                        <div class="meta">

                        </div>
                    </div>
                    <div class="info">
                        <div>
                            <canvas width="32" height="32">

                            </canvas>
                            <div>
                                <h3>{{ result.name }}</h3>
                                <span>{{ result.release_date }}</span>
                            </div>
                        </div>
                        <p class="description">{{ result.overview }}</p>
                        <p class="more_info">More Info<a href="{{ result.get_absolute_url }}"></a></p>
                    </div>
                </div>
                {% endfor %}
            </section>

            <!-- start of pagination -->
            <div class="pagination">
                <span class="selected">1</span>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">4</a>
                <a href="">5</a>
                <a href="">6</a>
                <a href="">7</a>
                <span>...</span>
                <a href="">499</a>
                <a href="">500</a>
                <a href="">Next →</a>
            </div>

        </section>
    </main>
{% endblock %}
