.short-info {
  width: 100%;
  color: #fff;
}

.custom-bg {
  padding: 40px 0;
}

.single {
  width: 1000px;
  margin: 0 auto;
  display: flex;
}

.poster img {
  width: 300px;
}

.description {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}
.description > div {
  margin-bottom: 30px;
}
.description h2 {
  font-size: 2.4em;
  font-weight: 700;
  line-height: 1.1em;
}
.description h2 a {
  text-decoration: none;
}
.description .release-year {
  font-size: 27.2px;
  font-weight: 400;
  opacity: 0.6;
}

.actions {
  display: flex;
}
.actions li {
  margin-right: 20px;
}

.users-rate-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.users-rate-block span {
  font-weight: 700;
}

.user-rate {
  background-color: #081c22;
  color: #ffffff;
  border-radius: 10%;
  padding: 4px;
  font-weight: 600;
  font-size: 2.4em;
  margin-right: 10px;
}

.action-icon {
  width: 46px;
  height: 46px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.action-icon i {
  font-size: 22px;
  height: auto;
  text-align: center;
}
.action-icon:hover {
  background-color: #fff;
}
.action-icon:hover i {
  color: #000;
}

.tooltip {
  position: relative;
}
.tooltip .tooltip-text {
  display: none;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: -30%;
  white-space: nowrap;
  background-color: #fff;
  width: auto;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
}
.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}
.tooltip:hover .tooltip-text {
  display: block;
}

.play-trailer {
  display: flex;
  align-items: center;
}

.overview h3 {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 8px;
}
.overview p {
  line-height: 1.4em;
}

.featured-crew {
  margin-top: 30px;
}
.featured-crew h3 {
  line-height: 1.3em;
  font-weight: 600;
  font-size: 1.3em;
}
.featured-crew ul {
  display: flex;
  flex-wrap: wrap;
}
.featured-crew ul li {
  width: 30%;
  margin-top: 20px;
}
.featured-crew ul li a {
  text-decoration: none;
  font-weight: bold;
}
.featured-crew ul li p {
  margin-top: 3px;
  font-size: 0.9em;
}

.shortcut-bar {
  width: 100%;
  height: 60px;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}
.shortcut-bar ul {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shortcut-bar ul a {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
}

.single-column {
  width: 100%;
  display: flex;
}
.single-column .left-part {
  width: calc((100vw - 1000px) / 2 + 780px);
}
.single-column .left-part-wrapper {
  max-width: 740px;
  margin: 0 40px 0 auto;
}
.single-column aside {
  background-color: #f1f1f1;
  width: calc((100vw - 1000px) / 2 + 220px);
}
.single-column .aside-wrapper {
  width: 180px;
  padding: 40px;
}

.panel {
  padding: 40px 0;
  border-top: 1px solid #d7d7d7;
  width: 100%;
}
.panel h3 {
  font-weight: 600;
  font-size: 1.4em;
  margin-bottom: 20px;
}
.panel .new-link {
  margin-top: 20px;
}
.panel .new-link a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1em;
}

.cast {
  border: none;
}
.cast ul {
  display: flex;
  justify-content: space-between;
}
.cast ul li {
  width: 138px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e3e3e3;
  padding-bottom: 10px;
}
.cast ul li p {
  margin-left: 10px;
  line-height: 1.4em;
}
.cast ul li p a {
  text-decoration: none;
  display: inline-block;
  padding-top: 10px;
  font-size: 1em;
  font-weight: bold;
}
.cast ul li p a:hover {
  color: #00d573;
}
.cast ul li .character-name {
  font-size: 0.9em;
}

.menu {
  display: flex;
  align-items: baseline;
}
.menu h3 {
  margin-right: 50px;
}
.menu ul {
  display: flex;
  width: 100%;
}
.menu ul li {
  margin-right: 30px;
  font-size: 1.1em;
  padding-bottom: 5px;
}
.menu ul a {
  text-decoration: none;
  font-weight: 600;
}
.menu ul a span {
  color: #666;
}
.menu .view-all {
  margin-right: 0;
  font-size: 0.9em;
  align-self: center;
  margin-left: auto;
}

.selected {
  border-bottom: 4px solid #000;
}

.h-scroller {
  white-space: nowrap;
  overflow-y: hidden;
  height: 300px;
  display: flex;
}
.h-scroller .posters, .h-scroller .backdrops {
  display: flex;
}

.view-more {
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-more a {
  font-size: 18px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside section {
  margin-bottom: 40px;
}
aside h4 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 15px;
}
aside p {
  margin-bottom: 20px;
}
aside p span {
  display: inline-block;
  padding-bottom: 6px;
  font-weight: 600;
}
aside .genres li {
  margin-bottom: 10px;
  display: block;
}
aside .genres li a {
  display: inline-block;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  text-transform: uppercase;
  font-size: 0.9em;
}

/*# sourceMappingURL=main.css.map */
