main {
  max-width: 1000px;
  margin: 30px auto;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 20px;
}

p {
  line-height: 1.4em;
  margin-bottom: 16px;
}

form {
  fieldset {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    div {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
    }

    label {
      line-height: 1.5em;
      margin-bottom: 8px;
    }

    input[type='text'], input[type='password'], input[type='email'] {
      padding: 6px 12px;
      border-radius: 0.25rem;
      border: 1px solid rgba(33, 37, 41, 0.15);
      background-color: rgb(232, 240, 254);
      font-family: "Source Sans Pro", Arial, serif;
      line-height: 1.5em;
    }
  }

  input[type='submit'] {
    font-family: "Source Sans Pro", Arial, serif;
    line-height: 1.5em;
    color: $white;
    background-color: $green;
    border: 1px solid $green;
    border-radius: 0.25em;
    font-weight: 700;
    padding: 6px 12px;
  }
}

.submit a {
  display: inline-block;
  color: $green;
  text-decoration: none;
  margin-left: 10px;
}

