.main_content {
  width: 1000px;
  margin: 20px auto;

  h2 {
    color: $black;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;

    a {
      text-decoration: none;
    }

    .movies {
      color: $green;
    }

    .shows {
      color: $blue;
      margin-left: 4px;
    }
  }
}

.discover {
  display: flex;

  label {
    color: $black;
    font-size: 1em;
    margin-bottom: 4px;
  }

  select {
    padding: 10px 30px 10px 10px;
    border-radius: 5px;
    background-color: $grey;

    option {
      padding: 25px 0;
      background-color: $white;
      &::-webkit-scrollbar-thumb {
      background: red;
    }
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: red;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

  }

  div {
    label {
      display: block;
    }
  }
}


