.main_content {
  width: 1000px;
  margin: 20px auto;

  h2 {
    color: $black;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;

    a {
      text-decoration: none;
    }

    .movies, .shows {
      color: $blue;
    }

    .titles {
      color: $green;
      margin-left: 4px;
    }
  }
}

.discover-form {
  display: flex;
  align-items: center;

  label {
    color: $black;
    font-size: 1em;
    margin-bottom: 4px;
  }

  select {
    padding: 10px 30px 10px 10px;
    margin-right: 30px;
    border-radius: 5px;
    background-color: $grey;
    border: none;

    &:focus {
      border: none;
    }

    option {
      padding: 25px 0;
      background-color: $grey;
    }
  }

  #release-year {
    width: 100px;
  }

  #sort-by {
    width: 220px;
  }

  #with-genres {
    width: 220px;

    option {
      padding: 0;
    }
  }

  div {
    label {
      display: block;
    }
  }
}

.submit-form {
  background-color: $grey;
  border: none;
  padding: 10px 40px;
  border-radius: 5px;
}


