{% extends 'base/base.html' %}
{% block title %}
    {{ title.name }}
{% endblock %}

{% block additional_head_tags %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'titles/title/css/main.css' %}">
{% endblock %}

{% load image_urls %}
{% block main %}
    <main>
        <section class="short-info">
            <div class="custom-bg">
            <div class="single">
            <div class="poster">
                <img src="{{ title|poster:'w600_and_h900_bestv2' }}" alt="">
            </div>
            <div class="description">
                <div class="title">
                    <h2><a href="">{{ title.name }}</a> <span class="release-year">({{ title.release_date|date:'Y' }})</span></h2>
                </div>
                <div>
                <ul class="actions">
                    <li class="users-rate-block">
                        <div class="user-rate">{{ title.vote_average|floatformat:2 }}</div>
                        <div>
                            <span>User<br>Score</span>
                        </div>
                    </li>
                    <li class="action-icon tooltip">
                        <i class="material-icons">list</i>
                        <span class="tooltip-text">Add to list</span>
                    </li>
                    <li class="action-icon tooltip">
                        <i class="material-icons">favorite</i>
                        <span class="tooltip-text">Mark as favorite</span>
                    </li>
                    <li class="action-icon tooltip">
                        <i class="material-icons">bookmark</i>
                        <span class="tooltip-text">add to your watchlist</span>
                    </li>
                    <li class="action-icon tooltip">
                        <i class="material-icons">star</i>
                        <span class="tooltip-text">Rate it!</span>
                    </li>
                    <li class="play-trailer">
                        <i class="material-icons">play_arrow</i>
                        <span>Play Trailer</span>
                    </li>
                </ul>
                </div>
                <div class="header_info">
                    <div class="overview">
                        <h3>
                            Overview
                        </h3>
                        <p>
                            {{ title.overview }}
                        </p>
                    </div>
                    <div class="featured-crew">
                        <h3>Featured Crew</h3>
                        <ul>
                            {% for creator in crew %}
                                <li>
                                    <p><a href="">{{ creator.creator.name }}</a></p>
                                    <p>{{ creator.job }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </section>

        <style>
            .short-info::before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                display: block;
                filter: opacity(0) grayscale(100%) contrast(130%);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                will-change: opacity;
                transition: filter 1s;
                background-image: url("{{ title|backdrop:'w1400_and_h450_face' }}");
            }

            .custom-bg {
                    background-image: radial-gradient(circle at 20% 50%, rgba(19.61%, 7.84%, 7.84%, 0.98) 0%, rgba(27.45%, 13.73%, 13.73%, 0.88) 100%);
            }
        </style>

        <div class="shortcut-bar">
            <ul>
                <li><a href="">Comments</a></li>
                <li><a href="">Reviews</a></li>
                <li><a href="">Posters</a></li>
                <li><a href="">Backdrops</a></li>
            </ul>
        </div>
    </main>

    <div class="single-column">
    <div class="left-part">
    <div class="left-part-wrapper">
    <section class="panel cast">
        <h3>Title Cast</h3>
        <ul>
            {% for actor in cast %}
            <li>
                <figure>
                    <a href=""><img src="{{ actor.actor|photo:'w138_and_h175_face' }}" alt=""></a>
                    <figcaption>
                        <p><a href="">{{ actor.actor.name }}</a></p>
                        <p class="character-name">{{ actor.character }}</p>
                    </figcaption>
                </figure>
            </li>
            {% endfor %}
        </ul>
        <p class="new-link"><a href="">Full Cast & Crew</a></p>
    </section>
    <section class="panel social">
        <div class="menu">
            <h3>Social</h3>
            <ul>
                <li><a href="">Reviews <span>1</span></a></li>
                <li><a href="">Discussions <span>28</span></a></li>
            </ul>
            <div class="review">
                <div class="groped">
                    <a href=""><img src="static/movies/some_user_avatar.png" alt=""></a>
                    <div class="review_info">
                        <div class="rating_wrapper">
                            <h3><a href="">A review by msbreviews</a></h3>
                            <span><i class="material-icons">star</i><span>9.0</span></span>
                        </div>
                        <h5>
                            Written by <a href="">msbreviews</a> on
                            <time datetime="2019-10-04">October  4, 2019</time>
                        </h5>

                    </div>
                </div>
                <div class="review_content">
                    <p>If you enjoy reading my Spoiler-Free reviews, please follow my blog :)</p>
                    <p>
                        Obviously, Joker is one of my most anticipated movies of 2019. I mean, how couldn't it be?!
                        Besides belonging to the superhero genre, DC has been on a streak of great films within its
                        universe, so an isolated installment definitely excites me, especially about one of the
                        evilest villains ever. It's by far one of the less comic-book-y flicks of the century. It
                        doesn't follow the generic origin story formula, it avoids any cliches associated with the
                        genre, and it's the type of movie that's becoming more and more rare nowad...
                        <a href="">read the rest</a>
                    </p>
                </div>
            </div>
            <p class="new-link"><a href="">Read All Reviews</a></p>
        </div>
    </section>
    <section class="panel media">
        <div class="menu">
            <h3>Media</h3>
            <ul>
                <li id="selectPosters" class="selected"><a href="#">Posters <span>{{ posters_count }}</span></a></li>
                <li id="selectBackdrops"><a href="#">Backdrops <span>{{ backdrops_count }}</span></a></li>

                <li id="view-all-posters" class="view-all"><a href="">View All Posters</a></li>
                <li id="view-all-backdrops" class="view-all hide"><a href="">View All backdrops</a></li>
            </ul>
        </div>
        <div class="h-scroller">
            <div id="posters" class="posters">
                {% for poster in posters %}
                    <img src="{{ poster|image:'w220_and_h330_face' }}" alt="">
                {% endfor %}

                <div class="view-more">
                    <p><a href="">View More<i class="material-icons">arrow_right_alt</i></a></p>
                </div>
            </div>
            <div id="backdrops" class="backdrops hide">
                {% for backdrop in backdrops %}
                    <img src="{{ backdrop|image:'w533_and_h300_bestv2' }}" alt="">
                {% endfor %}

                <div class="view-more">
                    <p><a href="">View More<i class="material-icons">arrow_right_alt</i></a></p>
                </div>
            </div>
        </div>
    </section>
        <script src="{% static 'titles/title/js/select_media.js' %}"></script>
    </div>
    </div>
{#        <section class="recommendations">#}
{#            <h3>Recommendations</h3>#}
{#            <figure>#}
{#                <a href=""><img src="static/movies/once_in_hollywood_backdrop.jpg" alt=""></a>#}
{#                <div class="meta">#}
{#                    <time datetime="2019-07-25"><i class="material-icons">calendar_today</i>07/25/2019</time>#}
{#                </div>#}
{#                <figcaption>#}
{#                    <a href="">Once Upon a Time... in Hollywood</a>#}
{#                    <span>7.6 <i class="material-icons">star</i></span>#}
{#                </figcaption>#}
{#            </figure>#}
{#        </section>#}


    <aside>
    <div class="aside-wrapper">
        <section class="facts">
            <h4>Facts</h4>
            <p><span>Status</span><br>{{ title.status }}</p>
            <p><span>Release information</span><br>{{ title.release_date  }}</p>
            {% if title.is_movie %}
                <p><span>Runtime</span><br>{{ title.runtime }}m</p>
                <p><span>Budget</span><br>${{ title.budget }}</p>
                <p><span>Revenue</span><br>${{ title.revenue}}</p>
            {% else %}
                <p><span>Seasons</span><br>{{ title.number_of_seasons }}</p>
                <p><span>Episodes</span><br>{{ title.number_of_episodes }}</p>
                <p><span>Episode Runtime</span><br>{{ title.episode_runtime }}</p>
            {% endif %}
        </section>
        <section class="genres">
            <h4>Genres</h4>
            <ul>
                {% for genre in genres %}
                    <li><a href="/discover/title/?genres={{ genre.pk }}">{{ genre.name }}</a></li>
                {% endfor %}
            </ul>
        </section>
    </div>
    </aside>
    </div>

{% endblock %}