{% extends 'base/base.html' %}
{% block title %}
    {{ title.name }}
{% endblock %}

{% block additional_head_tags %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'titles/title/css/main.css' %}">
{% endblock %}

{% load image_urls %}
{% block main %}
    <main>
        <section class="short-info">
            <div class="custom-bg">
            <div class="single">
            <div class="poster">
                <img src="{{ title|poster:'w600_and_h900_bestv2' }}" alt="">
            </div>
            <div class="description">
                <div class="title">
                    <h2><a href="">{{ title.name }}</a> <span class="release-year">({{ title.release_date|date:'Y' }})</span></h2>
                </div>
                <div>
                <ul class="actions">
                    <li class="users-rate-block">
                        <div class="user-rate">{{ title.vote_average|floatformat:2 }}</div>
                        <div>
                            <span>User<br>Score</span>
                        </div>
                    </li>
                    <li class="action-icon tooltip">
                        <i class="material-icons">list</i>
                        <span class="tooltip-text">Add to list</span>
                    </li>
                    <li class="action-icon tooltip">
                        <i class="material-icons">favorite</i>
                        <span class="tooltip-text">Mark as favorite</span>
                    </li>
                    <li class="action-icon tooltip">
                        <i class="material-icons">bookmark</i>
                        <span class="tooltip-text">add to your watchlist</span>
                    </li>
                    <li class="action-icon tooltip">
                        <i class="material-icons">star</i>
                        <span class="tooltip-text">Rate it!</span>
                    </li>
                    <li class="play-trailer">
                        <i class="material-icons">play_arrow</i>
                        <span>Play Trailer</span>
                    </li>
                </ul>
                </div>
                <div class="header_info">
                    <div class="overview">
                        <h3>
                            Overview
                        </h3>
                        <p>
                            {{ title.overview }}
                        </p>
                    </div>
                    <div class="featured-crew">
                        <h3>Featured Crew</h3>
                        <ul>
                            {% for creator in crew %}
                                <li>
                                    <p><a href="">{{ creator.creator.name }}</a></p>
                                    <p>{{ creator.job }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </section>

        <div class="shortcut-bar">
            <ul>
                <li><a href="">Comments</a></li>
                <li><a href="">Reviews</a></li>
                <li><a href="">Posters</a></li>
                <li><a href="">Backdrops</a></li>
            </ul>
        </div>
    </main>

    <div class="single-column">
    <div class="left-part">
    <div class="left-part-wrapper">
    <section class="panel cast">
        <h3>Title Cast</h3>
        <ul>
            {% for actor in cast %}
            <li>
                <figure>
                    <a href=""><img src="{{ actor.actor|photo:'w138_and_h175_face' }}" alt=""></a>
                    <figcaption>
                        <p><a href="">{{ actor.actor.name }}</a></p>
                        <p class="character-name">{{ actor.character }}</p>
                    </figcaption>
                </figure>
            </li>
            {% endfor %}
        </ul>
        <p class="new-link"><a href="">Full Cast & Crew</a></p>
    </section>

    <section class="panel media">
        <div class="menu">
            <h3>Media</h3>
            <ul>
                <li id="selectPosters" class="selected"><a href="#">Posters <span>{{ posters_count }}</span></a></li>
                <li id="selectBackdrops"><a href="#">Backdrops <span>{{ backdrops_count }}</span></a></li>

                <li id="view-all-posters" class="view-all"><a href="">View All Posters</a></li>
                <li id="view-all-backdrops" class="view-all hide"><a href="">View All backdrops</a></li>
            </ul>
        </div>
        <div class="h-scroller">
            <div id="posters" class="posters">
                {% for poster in posters %}
                    <img src="{{ poster|image:'w220_and_h330_face' }}" alt="">
                {% endfor %}

                <div class="view-more">
                    <p><a href="">View More<i class="material-icons">arrow_right_alt</i></a></p>
                </div>
            </div>
            <div id="backdrops" class="backdrops hide">
                {% for backdrop in backdrops %}
                    <img src="{{ backdrop|image:'w533_and_h300_bestv2' }}" alt="">
                {% endfor %}

                <div class="view-more">
                    <p><a href="">View More<i class="material-icons">arrow_right_alt</i></a></p>
                </div>
            </div>
        </div>
    </section>
        <script src="{% static 'titles/title/js/select_media.js' %}"></script>
    </div>
    </div>

    <aside>
    <div class="aside-wrapper">
        <section class="facts">
            <h4>Facts</h4>
            <p><span>Status</span><br>{{ title.status }}</p>
            <p><span>Release information</span><br>{{ title.release_date  }}</p>
            {% if title.is_movie %}
                <p><span>Runtime</span><br>{{ title.runtime }}m</p>
                <p><span>Budget</span><br>${{ title.budget }}</p>
                <p><span>Revenue</span><br>${{ title.revenue}}</p>
            {% else %}
                <p><span>Seasons</span><br>{{ title.number_of_seasons }}</p>
                <p><span>Episodes</span><br>{{ title.number_of_episodes }}</p>
                <p><span>Episode Runtime</span><br>{{ title.episode_runtime }}</p>
            {% endif %}
        </section>
        <section class="genres">
            <h4>Genres</h4>
            <ul>
                {% for genre in genres %}
                    <li><a href="/discover/title/?genres={{ genre.pk }}">{{ genre.name }}</a></li>
                {% endfor %}
            </ul>
        </section>
    </div>
    </aside>
    </div>

{% endblock %}