body {
  font-family: "Source Sans Pro", Arial, sans-serif;
}

.hide {
  display: none !important;
}

header {
  background-color: #081c24;
  width: 100%;
}
header .content {
  width: 1000px;
  height: 111px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.main-links {
  display: inline-flex;
  align-items: center;
}
.main-links .main-link {
  margin-right: 30px;
  padding: 10px 0;
  position: relative;
}
.main-links a {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
}
.main-links .sub-list {
  position: absolute;
  height: auto;
  display: none;
}
.main-links .sub-list li {
  margin-right: 30px;
  white-space: nowrap;
}
.main-links .sub-list a {
  color: #868e91;
  font-size: 0.9em;
}
.main-links .main-link:hover .sub-list {
  display: inline-flex;
  top: 35px;
  left: 0;
}
.main-links .main-link:hover .left-80 {
  left: -80px;
}
.main-links:nth-child(5) {
  margin-left: auto;
}

.search {
  width: 100%;
  height: 46px;
  background-color: #ffffff;
  border-bottom: 1px solid #acacac;
  display: flex;
  align-items: center;
}
.search input {
  width: 1000px;
  margin: 0 auto;
  border: none;
  color: #acacac;
  font-style: italic;
}

.mobile-menu {
  position: fixed;
  top: 64px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(8, 28, 36, 0.95);
  padding: 20px;
}
.mobile-menu ul {
  line-height: 1.3;
}
.mobile-menu .sub-toggle:checked ~ ul {
  display: flex;
  flex-direction: column;
}
.mobile-menu .sub-menu li {
  padding-bottom: 6px;
  margin-left: 5px;
  margin-top: 5px;
}
.mobile-menu .sub-menu li a {
  text-decoration: none;
  color: #868e91;
  font-size: 0.9em;
}
.mobile-menu .small {
  margin-top: 20px;
}
.mobile-menu .small a {
  font-size: 1em;
  color: #868e91;
  text-decoration: none;
}

.toggle-menu {
  cursor: pointer;
}

@media all and (min-width: 700px) and (max-width: 1100px) {
  header .content {
    width: 95%;
  }
}
@media all and (max-width: 700px) {
  header .content {
    width: 100%;
    height: 64px;
    justify-content: space-between;
  }

  input.toggle-menu {
    display: none;
  }

  #menu + label, #users-menu + label {
    margin: 0 20px;
  }

  label.toggle-menu {
    display: block !important;
    color: #ffffff;
    font-size: 1.3em;
  }
  label.toggle-menu img {
    width: 24px;
    color: #ffffff;
  }

  .person-icon {
    color: white;
    margin: 20px;
    font-size: 32px;
  }

  .main-links {
    display: none;
  }

  .logo-centered {
    display: inline-block;
    width: 45px;
  }

  .main-toggle:checked ~ .mobile-menu {
    display: block;
  }
}
footer {
  width: 100%;
  height: 450px;
  color: #ffffff;
  display: flex;
  align-items: center;
  background-image: url("https://www.themoviedb.org/assets/2/v4/footers_v2/Creed-fa6ea547c3225dfbb2b9db3e9c2cb41508771c7842b3a0d696951bcc0a6af327.jpg"), radial-gradient(at 30% top, #074034 0%, #081c24 70%);
  box-sizing: border-box;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}
footer nav {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer nav div {
  margin-right: 20px;
}
footer nav h3 {
  font-size: 20.16px;
  font-weight: bold;
  margin-bottom: 4px;
  text-transform: uppercase;
}
footer nav li {
  line-height: 1.6em;
}
footer nav a {
  text-decoration: none;
  font-size: 17.28px;
}

.join {
  position: relative;
}
.join img {
  position: absolute;
  bottom: 60px;
  right: 0;
}
.join a {
  color: #01d277;
  font-size: 18.72px;
  font-weight: bold;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  bottom: -120px;
}

@media all and (max-width: 1000px) {
  footer {
    height: auto;
  }
  footer nav {
    width: 95%;
    padding: 0 20px;
    margin: 40px auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  footer nav div {
    width: 100%;
    margin-bottom: 30px;
  }

  .join {
    position: static;
  }
  .join a {
    position: static;
  }
  .join img {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
